/* For Contact page */
body {
    /* Sets background to a gradient that is fixed to the screen when scrolling. */
    background-image: linear-gradient(140deg, #dfdfdf, #202020, #0A0A0A);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Picture of Gordon Ramsay. */
.background-image {
    animation: showcontent 1.5s ease;
    padding-top: 90px;
    height: 130dvh;
}

/* Container for the contact text fields. */
.container {
    animation: showcontent 0.8s ease;
    position: absolute;
    top: 120px;
    right: 0px;
    max-width: 700px;
    width: 100%;
    padding: 25px;
    background: #1B1919;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Name of the container, which says "Contact Us". */
.container header {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

/* Forms of the container */
.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

/* Label for each of the fields so user knows what it is */
.input-box label {
    color: #fff;
}

/* For users to select a subject */
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707077;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0px 15px;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

/* Radio buttons for user to select their gender */
.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
    color: #fff;
}

.form .gender {
    column-gap: 5px;
}

.gender input {
    accent-color: #AA1400;
}

.form :where(.gender input, .gender label) {
    cursor: pointer;
}

.course :where(input, .select-box) {
    margin-top: 15px;
    padding: 0px 0px;
}

.select-box select {
    padding: 0px 15px;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #707077;
    font-size: 1rem;
}

/*Submit Button*/
.form button {
    height: 55px;
    width: 100%;
    color:#fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.4s ease;
    background-color: #aa1400;
}

.form button:hover {
    background-color: #1F4276;
}

.form :where(.gender-option, .gender) {
    row-gap: 15px;
}

/* Custom footer to ensure the contact container doesnt overlap */
footer {
    position: absolute;
    top: 1080px;
    color: white;
    background-color: transparent;
}

/* To ensure the forms are responsive */
@media(max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}

